.btn-container {
	button {
		padding: 10px 12px 10px 12px;
		cursor: pointer;
		&.white {
			background-color: #fff;
			color: #000;
			border: 1px solid #bcbcbc;
		}
		&.red {
			background-color: #a40022;
			color: #fff;
			border: 1px solid #500014;
		}
		&.orange {
			background-color: #f98900;
			color: #fff;
			border: 1px solid #ee6f00;
		}
		&.green {
			background-color: #529c1c;
			color: #fff;
			border: 1px solid #427d16;
		}
		&.brown {
			background-color: #936c6a;
			color: #fff;
			border: 1px solid #7e5c5b;
		}
		&.transparent {
			background-color: #fcfcfc;
			color: #d6d5d5;
			border: 1px solid #dadada;
		}
	} 
} 

@media screen and (max-width: 609px) {
	.btn-container {
		button {
			display: block;
			margin-bottom: 10px;
			width: 100%;
			box-sizing: border-box;
		}
	}
}