
.general-tab.large{
  li{
    min-height:52px;
    a{
      padding:16px;
      line-height:20px;
      font-size:15px;
      font-weight:bold;
      color:#f3e6e6;
    }
    &.on{
      a{
        color:#fff;
      }
    }
  }
  &.five{
    li a{
      padding:16px 17px;
    }
  }
  &.six{
    li{
      height:52px;
    }
  }
  &.nine{
    li{
      height:52px;
    }
  }
  &.twelve{
    li{
      height:52px;
    }
  }
}
