.tab-combi.normal{
  li{
    min-height:46px;
    a{
      padding:14px 16px;
      padding-right:43px;
      font-weight:bold;
    }
  }
}

@media screen and (max-width: 767px) {
  .tab-combi.normal{
    flex-flow:wrap;
    li{
      width:calc((100% / 2) - 0.1px);
      &:nth-child(odd) a{
        border-left:none;
      }
      &:nth-child(even) a{
        border-left:1px solid #fff;
      }
      &:nth-child(n+3) a{
        border-top:1px solid #fff;
      }
      &:nth-child(3) a{
        border-left:none;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .tab-combi.normal{
    flex-flow:no-wrap;
    flex-direction:column;
    li{
      width:100%;
      &:nth-child(n+1) a{
        border-top:1px solid #fff;
        border-left:none;
      }
    }
  }
}

/* Start CSS for Internet Explorer 9 (Only) */
.for-iE9 body{
  .tab-combi.normal{
    &.twelve{
      li{
        height:46px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .tab-combi.normal{
      li{
        float:left;
        width:calc((100% / 2) - 0.1px);
        height:30px;
        border:none;
        a{
          border:none;
        }
        &:nth-child(odd){
          border-left:none;
          a{
            border-left:none;
          }
        }
        &:nth-child(even){
          border-left:1px solid #fff;
          a{
            border-left:none;
          }
        }
        &:nth-child(n+3){
          border-top:1px solid #fff;
            a{
              border-top:none;
            }
        }
      }
    }
  }
  @media screen and (max-width: 479px) {
    .tab-combi.normal{
      li{
          display:block;
          float:none;
          width:100%;
          &:nth-child(n+1){
            border-top:1px solid #fff;
            border-left:none;
            a{
              border:none;
            }
          }
      }
    }
  }
}
/* End CSS for Internet Explorer 9 (Only) */