
.small-tab{
    display:table;
    width:100%;
    font-size:0;
    a{
      display:table-cell;
      height:100%;
      padding:6px 14px;
      background-color:#483f41;
      text-align:center;
      font-size:13px;
      line-height:18px;
      font-family:'Malgun Gothic', sans-serif;
      color:#f3e6e6;
      text-decoration:none;
      cursor:pointer;
      box-sizing:border-box;
      word-break:break-all;
      vertical-align:middle;
      &:not(:first-child){
        border-left:1px solid #fff;
      }
      &.on{
        position:relative;
        background-color:#936c6a;
        color:#fff;
      }
    }
    &.one, &.two{
      a{
        width:50%;
      }
    }
    &.three, &.four{
      a{
        width:calc(100% / 3);
      }
    }
    &.five{
      a{
        width:25%;
      }
    }
    &.six{
      a{
        display:inline-table;
        width:50%;
        &:nth-child(odd){
          border-left:none;
        }
        &:nth-child(n+3){
          border-top:1px solid #fff;
        }
      }
    }
    &.seven{
      a{
        width:20%;
      }
    }
    &.eight{
      a{
        width:calc(100% / 6);
        padding:6px 10px;
      }
    }
    &.nine{
      a{
        display:inline-table;
        width:calc((100% - 1px) / 3);
        &:nth-child(4){
          border-left:none;
        }
        &:nth-child(n+4){
          border-top:1px solid #fff;
        }
      }
    }
    &.ten{
      a{
        width:calc(100% / 7);
        padding:6px 13px;
      }
    }
    &.eleven{
      a{
        width:calc(100% / 8);
      }
    }
    &.twelve{
      a{
        display:inline-table;
        width:25%;
        &:nth-child(5){
          border-left:none;
        }
        &:nth-child(n+5){
          border-top:1px solid #fff;
        }
      }
    }
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 959px) {
    .small-tab{
      &.eleven{
      a{
        display:inline-table;
        width:25%;
        &:nth-child(5){
          border-left:none;
        }
        &:nth-child(n+5){
          border-top:1px solid #fff;
        }
      }
      }
    }
  }
  
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .small-tab{
      &.seven, &.eight, &.nine, &.ten, &.eleven, &.twelve{
        a{
          display:inline-table;
          width:50%;
          &:nth-child(odd){
            border-left:none;
          }
          &:nth-child(even){
            border-left:1px solid #fff;
          }
          &:nth-child(n+3){
            border-top:1px solid #fff;
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 480px) and (max-width: 639px){
    .small-tab{
      &.four, &.five{
        a{
          display:inline-table;
          width:50%;
          &:nth-child(odd){
            border-left:none;
          }
          &:nth-child(n+3){
            border-top:1px solid #fff;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 479px) {
    .small-tab:not(.one) {
        a{
          display:block;
          width:100%;
          border-left:none;
          &:nth-child(n+2){
            border-top:1px solid #fff;
          }
        }
    }
  }
  