

.general-tab.normal-brown{
  li{
    min-height:46px;
    a{
      padding:14px;
      font-weight:bold;
    }
    &.on{
      a{
        color:#fff;
      }
    }
  }
  &.six{
    li{
      height:46px;
    }
  }
  &.eight li{
    a{
      padding:14px 12px;
    }
  }
  &.nine{
    li{
      height:46px;
    }
  }
  &.ten{
    li{
      a{
        padding:14px 13px;
      }
    }
  }
  &.twelve{
    li{
      height:46px;
    }
  }
}
