.form-gallery {
  font-family: 'Malgun Gothic', sans-serif; }
  .form-gallery .gallery-list {
    width: 100%;
    margin-top: 30px;
    font-size: 0; }
    .form-gallery .gallery-list .gallery-section-wrapper {
      display: inline-block;
      width: 216px; }
      .form-gallery .gallery-list .gallery-section-wrapper .gallery-section {
        position: relative;
        height: auto;
        margin-bottom: 35px;
        box-sizing: border-box; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .thumbnail {
          position: relative;
          width: 216px;
          height: 146px;
          z-index: 1;
          background: #fcfcfc url("../images/icon/thumbnail_gallery_icon.png") no-repeat center;
          text-align: center; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .thumbnail:after {
            position: absolute;
            content: "NO IMAGE";
            top: 63%;
            z-index: -1;
            left: calc(50% - 22px);
            color: #b5b5b5;
            font-size: 9px; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .thumbnail span {
            position: absolute;
            top: 0;
            width: calc(100% - 2px);
            height: 144px;
            border: 1px solid #e8e8e8;
            left: 0; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .thumbnail img {
            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%); }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .title {
          display: block;
          height: 52px;
          margin-top: 16px;
          overflow: hidden;
          cursor: pointer; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .title a {
            color: #1b1b1b;
            font-size: 17px;
            line-height: 24px; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .title.new a:after {
            margin-left: 8px;
            content: url("../images/icon/icon_gallery_new.png");
            vertical-align: middle; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .files-writer {
          display: block;
          margin-top: 12px;
          font-size: 0;
          line-height: 1; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .files-writer .files a {
            display: inline-block;
            margin-right: 6px;
            padding-right: 8px;
            border-right: 1px solid #dadada;
            color: #1b1b1b;
            font-size: 13px;
            line-height: 12px; }
            .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .files-writer .files a:before {
              margin-right: 8px;
              content: url("../images/icon/icon-save.png");
              vertical-align: middle; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .files-writer .writer {
            display: inline-block;
            color: #898989;
            font-size: 13px;
            line-height: 12px; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .date-hit {
          display: block;
          margin-top: 10px;
          color: #898989;
          font-size: 0;
          line-height: 1; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .date-hit .date {
            display: inline-block;
            margin-right: 8px;
            padding-right: 6px;
            border-right: 1px solid #dadada;
            line-height: 12px;
            font-size: 13px; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .date-hit .hit {
            display: inline-block;
            line-height: 12px;
            font-size: 13px; }
            .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .date-hit .hit:before {
              margin-right: 6px;
              content: url("../images/icon/icon-hits.png"); }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section.on-hover .thumbnail {
          opacity: 0.65; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section.on-hover .title a {
          text-decoration: underline; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section.on-hover .files-writer .files a {
          text-decoration: underline; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options {
          display: none;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          z-index: 2; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .top {
            position: relative;
            padding: 12px 14px;
            border: 1px solid #313131;
            color: #fff;
            font-size: 13px;
            line-height: 12px;
            background-color: #434343; }
            .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .top a {
              position: absolute;
              width: 36px;
              height: 36px;
              top: -1px;
              right: -1px;
              background: #3d3d3d url("../images/icon/icon-gallery-close.png") no-repeat center;
              border: 1px solid #313131; }
          .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom {
            padding: 13px 15px;
            background-color: #fff;
            border: 1px solid #313131;
            border-top: none; }
            .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span {
              display: block;
              box-sizing: border-box; }
              .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span a {
                display: table-cell;
                padding-left: 8px;
                color: #313131;
                font-size: 13px;
                line-height: 14px; }
                .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span a:hover {
                  text-decoration: underline; }
              .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span .icon {
                display: table-cell; }
              .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span.pdf .icon:before {
                content: url("../images/icon/icon-pdf.png");
                vertical-align: sub; }
              .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span.word .icon:before {
                content: url("../images/icon/icon-doc.png");
                vertical-align: sub; }
              .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span.zip .icon:before {
                content: url("../images/icon/icon-zip.png");
                vertical-align: sub; }
              .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .save-options .bottom span:not(:first-child) {
                margin-top: 10px; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section.on .save-options {
          display: block; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section.on .thumbnail {
          opacity: 0.55; }
  .form-gallery .common-front-paging1 {
    margin-top: 10px; }
  .form-gallery .common-front-search {
    margin-top: 20px; }
    .form-gallery .common-front-search div.common-search form .form-container > span.group-container > span.sub-container > span.for-select select {
      background-position: calc(100% - 4px) center; }

@media screen and (min-width: 960px) {
  .form-gallery .gallery-list .gallery-section-wrapper:nth-child(2), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(3), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(4), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(6), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(7), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(8) {
    margin-left: calc((100% - 864px) / 3); } }
@media screen and (min-width: 768px) and (max-width: 959px) {
  .form-gallery .gallery-list .gallery-section-wrapper:nth-child(2), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(3), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(5), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(6), .form-gallery .gallery-list .gallery-section-wrapper:nth-child(8) {
    margin-left: calc((100% - 648px) / 2); } }
@media screen and (max-width: 767px) {
  .form-gallery .gallery-list {
    margin-top: 20px;
    border-top: 2px solid #a40022;
    border-bottom: 2px solid #313131; }
    .form-gallery .gallery-list .gallery-section-wrapper {
      width: 100%;
      border-bottom: 1px solid #d4d4d4; }
      .form-gallery .gallery-list .gallery-section-wrapper:last-child {
        border-bottom: none; }
      .form-gallery .gallery-list .gallery-section-wrapper .gallery-section {
        margin-bottom: 0;
        margin-top: 30px;
        padding: 0 15px; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .thumbnail {
          margin: 0 auto; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .title {
          height: unset;
          max-height: 52px; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .date-hit {
          margin-bottom: 30px; }
        .form-gallery .gallery-list .gallery-section-wrapper .gallery-section .details .save-options {
          bottom: -14px; }
  .form-gallery .common-front-paging1 {
    margin-top: 20px; } }

/*# sourceMappingURL=_common_front_board_list_form_gallery1_writer_user.css.map */
