
.container{
    width:100%;
}

ul.normal-tab{
    display:flex;
    li{
        width:100%;
        background-color:#483f41;
        a{
            display:block;
            padding:15px 0;
            line-height:17px;
            text-align:center;
            font-size:13px;
            font-family:'Malgun Gothic', sans-serif;
            font-weight:bold;
            color:#f3e6e6;
            text-decoration:none;
            cursor:pointer;
        }
        &:not(:first-child) a{
            border-left:1px solid #fff;
        }
        &.on{
            position:relative;
            background-color:#936c6a;
            a{
                color:#fff;
            }
        }
    }
    &.six{
        flex-flow:wrap;
        li{
            width:50%;
            &:nth-child(odd) a{
                border-left:none;
            }
            &:nth-child(n + 3) a{
                border-top:1px solid #fff;
            }
        }
    }
    &.nine{
        flex-flow:wrap;
        li{
            width:calc(100% / 3);
            &:nth-child(4) a{
                border-left:none;
            }
            &:nth-child(n + 4) a{
                border-top:1px solid #fff;
            }
        }
    }
    &.ten, &.eleven{
        li{
            a{
                display:flex;
                align-items:center;
                padding-left:16px;
                padding-right:16px;
                justify-content:center;
                height:calc(100% - 30px);
            }
        }
    }
    &.twelve{
        flex-flow:wrap;
        li{
            width:25%;
            &:nth-child(5) a{
                border-left:none;
            }
            &:nth-child(n + 5) a{
                border-top:1px solid #fff;
            }
        }
    }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
    ul.normal-tab{
        &.seven, &.eight{
            li{
                a{
                    display:flex;
                    align-items:center;
                    padding-left:16px;
                    padding-right:16px;
                    justify-content:center;
                    height:calc(100% - 30px);
                }
            }
        }
        &.eleven{
            flex-flow:wrap;
            li{
                width:25%;
                &:nth-child(5) a{
                    border-left:none;
                }
                &:nth-child(n + 5) a{
                    border-top:1px solid #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    ul.normal-tab{
        &.five{
            li{
                a{
                    display:flex;
                    align-items:center;
                    padding-left:16px;
                    padding-right:16px;
                    justify-content:center;
                    height:calc(100% - 30px);
                }
            }
        }
        &.seven, &.eight, &.nine, &.ten, &.eleven, &.twelve{
            flex-flow:wrap;
            li{
                width:50%;
                &:nth-child(odd) a{
                    border-left:none;
                }
                &:nth-child(n + 3) a{
                    border-top:1px solid #fff;
                }
                &:nth-child(even) a{
                    border-left:1px solid #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 639px) and (min-width: 480px) {
    ul.normal-tab{
        &.four, &.five{
            flex-flow:wrap;
            li{
                width:50%;
                &:nth-child(odd) a{
                    border-left:none;
                }
                &:nth-child(n + 3) a{
                    border-top:1px solid #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 479px) {
    ul.normal-tab{
        &.one{
            li{
                a{
                    display:flex;
                    align-items:center;
                    padding-left:16px;
                    padding-right:16px;
                    justify-content:center;
                    height:calc(100% - 30px);
                }
            }
        }
        &.two, &.three, &.four, &.five, &.six, &.seven, &.eight, &.nine, &.ten, &.eleven, &.twelve{
            flex-direction:column;
            li{
                width:100%;
                a{
                    border-left:none;
                }
                &:not(:first-child) a{
                    border-top:1px solid #fff;
                }
            }
        }
    }
}