$img: '../images/';

a{
	text-decoration:none;
}

.common-front-paging1{
	width: 100%;
	font: normal 13px 'Malgun Gothic';
	margin-top:15px;
	text-align: center;
	div{
		display: inline-block;
		>span{
			&.left{
				display: inline-block;
				border:1px solid #cfcfcf;
				border-bottom:1px solid #9a9a9a;
				margin-right:10px;
				box-sizing: border-box;
				>a{
					display: inline-block;
					&.first{
						float:left;
						width: 29px;
						height: 25px;
						background: url($img + 'icon/icon_first_page.png') no-repeat 50% 50%;
						border-right:1px solid #d7d7d7;
					}
					&.prev{
						float:left;
						width: 25px;
						height: 25px;
						background: url($img + 'icon/icon_back.png') no-repeat 50% 50%;
					}
				}
			}
			&.right{
				display: inline-block;
				border:1px solid #cfcfcf;
				border-bottom:1px solid #9a9a9a;
				margin-left:10px;
				box-sizing: border-box;
				>a{
					display:inline-block;
					&.last{
						float:left;
						width: 29px;
						height: 25px;
						background: url($img + 'icon/icon_last_page.png') no-repeat 50% 50%;
					}
					&.next{
						float:left;
						width: 25px;
						height: 25px;
						background: url($img + 'icon/icon_next.png') no-repeat 50% 50%;
						border-right:1px solid #d7d7d7;
					}
				}
			}
		}
		>ul{
			border-right: 1px solid #d7d7d7;
			display:inline-block;
			>li{
				display: table-cell;
				height:24px;
				min-width:24px;
				border: 1px solid #e0e0e0;
				border-right: none;
				line-height:24px;
				a{
					display:block; 
					color: #535353;
					text-decoration:none;
				}
				&.on{
					border:1px solid #95001f;
					border-right: 1px solid #95001f;
					background:#a40022;
					box-sizing: border-box;
					a{
						color:#fff;
						font-weight:bold;
						text-decoration:none;
					}

				}
				&.total{
					display:none;
				}
			}
		}
	}
}
/*-------------------------------*/
/* 640px */
/*-------------------------------*/
@media screen and (max-width:767px) {
	.common-front-paging1{
		div{
			>ul{
				border-right:0;
				>li{
					display:none;
					border: none;
					&.on{
						display: table-cell;
						min-width: 7px;
						border-right:0;
						background:0;
						border:0;
						a{
							display:inline-block;
							color:#a40022;
							line-height:15px;
						}
					}
					&.total{
						display:table-cell;
						position: relative;
						&:before{
							position:absolute;
							left: 0;
							content:'/';
							color:#535353;
							font-weight:normal;
						}
					}
				}
			}
		}
	}
}