.front-board{
    display:inline-block;
    button{
        position:relative;
        height:30px;
        margin-left:5px;
        padding:8px 12px;
        border:1px solid #7e5c5b;
        border-bottom:1px solid #4f3938;
        background-color:#936c6a;
        color:#fff;
        font-weight:bold;
        line-height:12px;
        vertical-align:bottom;
        cursor:pointer;
        &:focus{
            outline:none;
        }
    }
    &.search-tab{
        input{
            height:30px;
            padding:0;
            padding-left:8px;
            border:1px solid #bababa;
            &::placeholder{
                color:#b5b5b5;
            }
            &:focus{
                outline:none;
            }
            &::-webkit-search-cancel-button{
                display: none;
            }
            &::-ms-clear, &::-ms-reveal{
                display: none;
            }
            &:focus{
                color:#313131;
            }
        }
        button{
            padding-left:30px;
            &:before{
                content:url('../images/icon/board-list-icon3.png');
                position:absolute;
                left:13px;
                top:7px;
            }
        }
    }
    select{
        width:113px;
        height:30px;
        margin-right:4px;
        padding-left:8px;
        border:1px solid #bababa;
        line-height:12px;
        font-size:13px;
        font-family:'Malgun Gothic', sans-serif;
        outline:none;
        vertical-align:bottom;
        cursor:pointer;
        &:focus{
            outline:none;
        }
    }
    &.count-tab{
        display:table;
        float:left;
        font-size:13px;
        font-family:'Malgun Gothic', sans-serif;
        .total{
            display:table-cell;
            a{
                display:block;
                position:relative;
                padding:9px 30px 11px 5px;
                line-height:9px;
                background-color:#f7f7f7;
                color:#535353;
                border:1px solid #dedede;
                &:after{
                    content:url('../images/icon/board-list-icon1.png');
                    position:absolute;
                    top:calc(50% - 4px);
                    right:10px;
                }
            }
        }
        .number{
            display:table-cell;
            vertical-align:bottom;
            a{
                display:block;
                padding:9px 12px 7px;
                color:#a40022;
                border:1px solid #dedede;
                border-left:none;
                .values{
                    color:#a40022;
                    font-size:14px;
                    line-height:10px;
                }
                .key{
                    margin-left:4px;
                    color:#535353;
                    line-height:12px;
                }
            }
        }
    }
    &.sort-tab{
        float:right;    
        select{
            margin-right:0;
        }
    }
    &.search-tab{
        float:right;
        &.one{
            input{
                width:234px;
            }
        }
        &.two, &.three{
            select{
                position:relative;
                width:80px;
            }
            input{
                width:144px;
            }
            .second-select{
                float:left;
                border-right:1px solid #dedede;
                margin-right:10px;
                padding-right:6px;
            }
        }
    }
    &.button-tabs{
    float:right;
    position:relative;
    li{
        float:left;
    }
    a{
        display:block;
        height:28px;
        width:30px;
        background-position:center;
        background-repeat:no-repeat;
        border:1px solid #b6b6b6;
        color:#b5b5b5;
        font-size:13px;
        font-family:'Malgun Gothic', sans-serif;
        text-decoration:none;
        cursor:pointer;
        span{
            display:none;
        }
    }
    .list-tab a{
        background-image:url('../images/icon/board-list-icon5.png');
        border-right:none;
    }
    .gallery-tab a{
        background-image:url('../images/icon/board-list-icon6.png');
    }
    .list-tab.on a{
        background-image:url('../images/icon/board-list-icon4.png');
        color:#000;
    }
    .gallery-tab.on a{
        background-image:url('../images/icon/board-list-icon9.png');
        color:#000;
    }
    }
    &.calendar-tab{
        float:right;
        input{
            width:78px;
            height:26px;
            padding-left:8px;
            border:1px solid #bababa;
            font-size:12px;
            font-family:'Malgun Gothic', sans-serif;
        }
        img{
            vertical-align:middle;
            margin-left:8px;
            margin-bottom: 1px;
        }
        button{
            width:52px;
            padding:8px 10px;
        }
        .dash{      
            -webkit-margin-end:-2px;
            -webkit-margin-start:-2px;
        }
    }
}

.combi-tab{
    display:inline-block;
    width:100%;
    .right-combi{
        float:right;
        ul.front-board.button-tabs{
            display:inline-block;
            float:none;
            border-right:1px solid #dedede;
            margin-right:10px;
            padding-right:10px;
        }
    }
}

@media screen and (max-width: 639px){
    .front-board{
        &.count-tab{
            width: 100%;
            .total{
                width:77px;
            }
            .number{
                text-align:right;
            }
        }
        &.sort-tab{
            width:100%;
            select{
                width:calc(100% - 64px);
            }
        }
        &.search-tab{
            width:100%;
            &.one input{
                width:calc(100% - 82px);
            }
            &.two input{
                width:calc(100% - 171px);
            }
            &.three input{
                width:calc(100% - 272px);
            }
        }
        &.button-tabs{
            width:100%;
            li{
                width:50%;
                a{
                    width:100%;
                    height:30px;
                    background-position:8px;
                    text-align:center;
                    box-sizing:border-box;
                    span{
                        display:block;
                        margin-top:8px;
                    }
                }
            }
        }
        &.calendar-tab{
            width:100%;
            input{
                width:calc(50% - 79px);
            }
        }
    }
    .combi-tab{
        .front-board:not(:first-child){
            margin-top:10px;
        }
        .right-combi{
            width:100%;
            margin-top:10px;
            ul.front-board.button-tabs{
                border-right:none;
                margin-right:0;
                padding-right:0;
            }
        }
    }
}

@media screen and (max-width: 479px){
    .front-board{
        &.search-tab.three{
            .second-select{
                width:100%;
                margin:0;
                margin-bottom:10px;
                padding:0;
                border:0;
                select{
                    width:100%;
                }
            }
            input{
                width:calc(100% - 171px);
            }
        }
        &.calendar-tab{
            input{
                width:calc(50% - 73px);
                padding-left:2px;
            }
        }
    }
}