


.general-tab.normal{
  li{
    min-height:46px;
    a{
      padding:14px;
      font-weight:bold;
    }
  }
  &.three, &.seven, &.eight, &.ten{
    li a{
      padding: 14px 10px;
    }
  }
}

/* Start CSS for Internet Explorer 9 (Only) */
.for-iE9 body{
  .general-tab.normal{
    &.six{
      li{
        height:46px;
      }
    }
    &.nine{
      li{
        height:46px;
      }
    }
    &.twelve{
      li{
        height:46px;
      }
    }
  }
}
/* End CSS for Internet Explorer 9 (Only) */