.common-front-total-search-result{
	.top{
		display: block;
		padding: 33px 0;
		font: normal 19px 'Malgun Gothic';
	}
	.section-1{

	}
}
/* 768 */
@media screen and (max-width:959px) {
	
}
/* 640 */
@media screen and (max-width:767px) {
}
/* 480 */
@media screen and (max-width:639px) {
	
}