.board-list-gallery.empty-data{
    .common-front-paging1{
        margin-top:20px;
    }
    .common-front-search{
        margin-top:20px;
        div.common-search{
            form .form-container > span.group-container > span.sub-container > span.for-select select{
                background-position: calc(100% - 4px) center;
            }
        }
    }
}

.faq-empty {
    .bottom {  
        margin-top: 38px;
        margin-bottom: 37px;
        p {
            padding: 13px;
            background-color: #fbfbfb;
            border: 1px solid #e9e9e9;
            font-size: 13px;
            font-family: 'Malgun Gothic', sans-serif;
            color: #959595;
            text-align: center;
            line-height: 12px;
            span{
                position:relative;
                &:before{
                    content:url('../images/icon/gallery-empty-data-icon1.png');
                    position:absolute;
                    left:-27px;
                    top:0;
                    }
                }
            }
        }
    }

@media screen and (min-width: 768px){
    .board-list-gallery.empty-data{
        .empty-data-table table{
            border:none;
            tbody tr td {
                padding:25px;
                padding-left:0;
                padding-right:0;
            }
        }
    }
}