$stm_img: '../images/';

.faq-section {
	.question {
		display: table;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #d9d9d9;
		border-bottom: 1px solid #b4b4b4;
		.q-img {
			display: table-cell;
			vertical-align: middle;
			width: 54px;
			height: 54px;
			text-align: center;
			border-right: 1px solid #eaeaea;
		}
		.link-add {
			display: table-cell;
			vertical-align: middle;
			width: 39px;
			cursor: pointer;
			background: url($stm_img + 'icon/faq-add.png') 0 50% no-repeat;
			&.minimize {
				background: url($stm_img + 'icon/faq-minimize.png') no-repeat 0 50%;
			}
		}
		.q-section {
			display: table-cell;
			vertical-align: middle;
			padding-left: 15px;
			box-sizing: border-box;
			.qtable {
				display: table;
				.qtext {
					display: table-cell;
					vertical-align: middle;
					padding-left: 10px;
					padding-right: 10px;
					color: #1b1b1b;
					font: normal 13px/20px 'Malgun Gothic';
					&:hover {
						text-decoration: underline;
					}
				}
				.status {
					display: table-cell;
					min-width: 44px;
					vertical-align: middle;
					.stext {
						display: inline-block;
						padding: 3px 9px 4px 8px;
						color: #fff;
						font: normal 11px/11px 'Malgun Gothic';
						border: 1px solid #475b6e;
						background: #4e6479;
					}
				}
			}
		}
		&.no-border {
			border-bottom: 0;
		}
	}
}

.pop-out {
	display: none;
	border: 1px solid #d9d9d9;
	border-top: 0;
	border-bottom: 1px solid #b4b4b4;
	width: 100%;
	box-sizing: border-box;
	.mobile {
		display: table;
		.pop-out-cont {
			display: table-cell;
			background: #fdfdfd;
			padding: 20px;
			font: 13px/17px "Malgun Gothic";
			vertical-align: middle;
			&:first-child {
				background: #f7f7f7;
				width: 54px;
				padding: 0;
				text-align: center;
				color: #b09c75;
				font-weight: bold;
				border-right: 1px solid #d9d9d9;
			}
			p {
				display: block;
				margin-bottom: 20px;
				margin-top: 10px;
			}
			button {
				margin-left: 0;
			}
		}
		.btn-ans-cont {
			display: none;
		}
	}
	&.active {
		display: table;
	}
}

@media screen and (max-width: 767px) {
	.faq-section {
		.question {
			display: block;
			position: relative;
			.q-img {
				display: block;
				border-right: 0;
				background: url($stm_img + 'bg/bg_border_dark_gray.png') no-repeat 100%;
				img {
					margin-top: 16px;
				}
			}
			.q-section {
				display: block;
				padding: 0;
				.qtable {
					display: block;
					.status {
						display: block;
						position: absolute;
						top: 18px;
						left: 65px;
					}
					.qtext {
						display: block;
						width: 100%;
						box-sizing: border-box;
						border-top: 1px solid #eaeaea;
						padding: 30px 10px 30px 15px;
						font: normal 17px/20px "Malgun Gothic";
					}
				}
			}
			.link-add {
				display: block;
				position: absolute;
				top: 15px;
				right: 15px;
				width: 24px;
				height: 24px;
			}
		}
	}
	.pop-out {
		.mobile {
			display: block;
			margin: -2px 15px 15px 15px;
			border: 1px solid #d9d9d9;
			box-sizing: border-box;
			.pop-out-cont {
				display: block;
				position: relative;
				&:first-child {
					height: 36px;
					width: 100%;
					box-sizing: border-box;
					text-align: left;
					font: bold 13px/36px "Malgun Gothic";
					padding: 0px 15px 11px 15px;
					border-right: 0;
					&:after {
						content: '';
						position: absolute;
						background: url($stm_img + 'icon/question_arrow_down.png') no-repeat 100%;
						width: 8px;
						height: 4px;
						top: 16px;
						right: 17px;
					}
				}
			}
				.btn-ans-cont {
					display: block;
					border-top: 1px solid #e1e1e1;
					text-align: center;
					padding-left: 15px;
					padding-right: 15px;
					height: 54px;
					width: 100%;
					box-sizing: border-box;
					.btn-ans {
						margin-top: 10px;
						font: bold 13px "Malgun Gothic";
						color: #b09c75;
						border: 1px solid #d1d1d1;
						border-bottom: 1px solid #b2b2b2;
						padding: 6px;
						width: 73px;
						cursor: pointer;
						background: #fafafa;
					}
				}
		}
	}
}