

.tab-combi{
  display:table;
  width:100%;
  table-layout:fixed;
  font-family:'Malgun Gothic', sans-serif;
  li{
    display:table-cell;
    width:50%;
    min-height:30px;
    overflow:hidden;
    background-color:#483f41;
    text-align:left;
    vertical-align:middle;
    box-sizing:border-box;
    cursor:pointer;
    a{
      display:block;
      height:100%;
      border:none;
      background-color:none;
      text-align:left;
      padding:6px 12px;
      padding-right:31px;
      color:#f3e6e6;
      font-size:13px; 
      line-height:18px;
      text-decoration:none;
      cursor:pointer;
      box-sizing:border-box;
      word-break:break-all;          
    }
    &:not(:first-child){
      border-left:1px solid #fff;
    }
    &.on{
      background-color:#936c6a;
      a{
        position:relative;
        color:#fff;
        &:after{
            content:url('../images/icon/icon-down.png');
            position:absolute;
            right:13px;
            top:calc(50% - 1px);
        }
      }
    }
  }
  &.four{
    li{
      float:left;
      width:50%;
      height:30px;
      a{
        border:none;
      }
      &:nth-child(odd){
        border-left:none;
      }
      &:nth-child(n+3){
        border-top:1px solid #fff;
      }
    }
  }
  &.seven, &.eight{
    li{
      float:left;
      width:calc((100% / 3) - 0.1px);
      height:30px;
      border:none;
      a{
        border:none;
      }
      &:nth-child(n+4){
        border-top:1px solid #fff;
      }
      &:nth-child(n+2){
        border-left:1px solid #fff;
      }
    }
  }
  &.eleven, &.twelve{
    li{
      float:left;
      width:calc((100% / 4) - 0.1px);
      height:30px;
      border:none;
      border-left:1px solid #fff;
      a{
        border:none;
      }
      &:nth-child(n+5){
        border-top:1px solid #fff;
      }
      &:nth-child(1), &:nth-child(5){
        border-left:none;
      }
    }
  }
}
@media screen and (max-width: 959px) and (min-width: 768px) {
  .tab-combi{
    &.eight, &.twelve{
      li{
        float:left;
        width:50%;
        height:30px;
        a{
          border:none;
        }
        &:nth-child(odd){
          border-left:none;
        }
        &:nth-child(n+3){
          border-top:1px solid #fff;
        }
      }
    }
    &.nine{
      li{
        a{
          padding-right:26px;
        }
      }
    }
    &.ten, &.eleven{
      li{
        float:left;
        width:calc((100% / 4) - 0.1px);
        height:30px;
        border:none;
        border-left:1px solid #fff;
        a{
          border:none;
        }
        &:nth-child(n+5){
          border-top:1px solid #fff;
        }
        &:nth-child(1), &:nth-child(5){
          border-left:none;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .tab-combi{
    &.three, &.four, &.five, &.eight, &.nine, &.ten, &.eleven, &.twelve{
      li{
        float:left;
        width:calc((100% / 2) - 0.1px);
        height:30px;
        border:none;
        a{
          border:none;
        }
        &:nth-child(odd){
          border-left:none;
          a{
            border-left:none;
          }
        }
        &:nth-child(even){
          border-left:1px solid #fff;
          a{
            border-left:none;
          }
        }
        &:nth-child(n+3){
          border-top:1px solid #fff;
            a{
              border-top:none;
            }
        }
      }
    }
    &.six{
      li{
        float:left;
        width:calc((100% / 3) - 0.1px);
        height:30px;
        border:none;
        a{
          border:none;
        }
        &:nth-child(n+4){
          border-top:1px solid #fff;
        }
        &:nth-child(n+2){
          border-left:1px solid #fff;
        }
      }
    }
  }
}
@media screen and (max-width: 639px) {
  .tab-combi{
    &.one, &.two, &.four, &.five, &.six, &.seven{
      li{
        float:left;
        width:calc((100% / 2) - 0.1px);
        height:30px;
        border:none;
        a{
          border:none;
        }
        &:nth-child(odd){
          border-left:none;
          a{
            border-left:none;
          }
        }
        &:nth-child(even){
          border-left:1px solid #fff;
          a{
            border-left:none;
          }
        }
        &:nth-child(n+3){
          border-top:1px solid #fff;
            a{
              border-top:none;
            }
        }
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .tab-combi{
    &.one, &.two, &.three, &.four, &.five, &.six, &.seven, &.eight, &.nine, &.ten, &.eleven, &.twelve{
      li{
        display:block;
        float:none;
        width:100%;
        &:nth-child(n+1){
          border-top:1px solid #fff;
          border-left:none;
          a{
            border:none;
          }
        }
      }
    }
  }
}

