

.vod-content{
    position:relative;
    padding-bottom:40px;
    border-top:2px solid #a40022;
    border-bottom:2px solid #313131;
    font-family:'Malgun Gothic', sans-serif;
    .board-view-details{
        h2{
            margin:26px 15px;
            font-size:19px;
            line-height:26px;
            font-weight:normal;
            color:#1b1b1b;
            &.new:after{
                margin-left:8px;
                content:url('../images/icon/icon-new-vod-lg.png');
            }
        }
        .wrapper-details{
            display:block;
            position:relative;
            width:100%;
            padding:16px 15px;
            background-color:#fcfcfc;
            border-top:1px solid #e6e6e6;
            border-bottom:1px solid #d4d4d4;
            box-sizing:border-box;
            line-height:12px;
            font-size:13px;
            .title{
                display:inline-block;
                color:#755332;
            }
            .entry{
                display:inline-block;
                color:#898989;
            }
            .writer, .date-create, .hit{
                display:inline-block;
            }
            .date-hit{
                float:right;
            }
            .date-create, .hit{
                margin-left:3px;
                padding-left:7px;
                border-left:1px solid #ccbfb3;
            }
        }
    }
    .vod-container{
        display:block;
        position:relative;
        margin-top:40px;
        .left{
            display:inline-block;
            width:calc(100% - 320px);
            .content{
                position:relative;;
                width:100%;
                margin-top:15px;
                border:1px solid #d8d8d8;
                box-sizing:border-box;
                .vod-title{
                    display:block;
                    width:calc(100% - 41px);
                    padding:9px 15px;
                    font-size:13px;
                    line-height:20px; 
                    box-sizing:border-box;
                }               
                a{
                    position:absolute;
                    width:41px;
                    height:100%;
                    top:0;
                    right:0;
                    background:#eeeeee url('../images/icon/icon-disable.png') no-repeat center;
                }
            }
            .information{
                margin-top:15px;
                box-sizing:border-box;
                .top{
                    position:relative;
                    padding:15px 14px;
                    background-color:#717171;
                    border-top:1px solid #565656;
                    border-bottom:1px solid #565656;
                    .description{
                        font-size:15px;
                        font-weight:bold;
                        line-height:14px;
                        color:#fff;
                    }
                    a{
                        position:absolute;
                        width:41px;
                        height:100%;
                        top:0;
                        right:0;
                        background:#606060 url('../images/icon/icon-vod-down.png') no-repeat center;
                    }
                }
                .section{
                    display:block;
                    border-bottom:1px solid #d4d4d4;
                    font-size:0;
                    .title{
                        display:table-cell;
                        width:80px;
                        padding:15px 13px;
                        background-color:#f7f7f7;
                        color:#755332;
                        font-size:13px;
                        line-height:12px;
                        box-sizing:border-box;
                    }
                    .content{
                        display:table-cell;
                        margin:0;                    
                        padding:15px;                        
                        width:calc(100% - 80px);
                        border:none;
                        border-left:1px solid #e6e6e6;
                        color:#535353;
                        font-size:13px;
                        line-height:12px;
                        box-sizing:border-box;
                        &.icons{
                            padding:10px 15px;
                            .icon{
                                display:table-cell;
                                width:22px;
                                height:22px;
                                padding-right:10px;
                                &:first-child{
                                    background:url('../images/icon/icon-vod-gray1.png') no-repeat;
                                }
                                &:nth-child(2){
                                    background:url('../images/icon/icon-vod-gray2.png') no-repeat;
                                }
                                &:nth-child(3){
                                    background:url('../images/icon/icon-vod-gray3.png') no-repeat;
                                }
                                &:nth-child(4){
                                    background:url('../images/icon/icon-vod-gray4.png') no-repeat;
                                }
                            }
                        }
                    }
                    &:last-child{
                        border-bottom:1px solid #b4b4b4;                        
                    }
                }
            }
        }
        .right{
            float:right;
            width:300px;
            height:50px;
            .right-top{
                position:relative;
                .title-right{
                    display:block;
                    width:calc(100% - 56px);
                    padding:14px;
                    font-size:15px;
                    line-height:14px;
                    color:#000;
                }
                .icon-btn{
                    position:absolute;
                    width:42px;
                    height:100%;
                    top:0;
                    right:0;
                    background:url('../images/icon/icon-vod-play.png') no-repeat center;
                }
            }
        }
    }
}