


.general-tab.large{
  li{
    min-height:52px;
    a{
      padding:16px;
      line-height:20px;
      font-size:15px;
      font-weight:bold;
      color:#f3e6e6;
    }
  }
  &.five, &.eleven, &.twelve{
    li a{
      padding:16px 18px;
    }
  }
  &.eight{
    li a{
      padding:16px 17px;
    }
  }
}

/* Start CSS for Internet Explorer 9 (Only) */
.for-iE9 body{
  .general-tab.normal{
    &.six{
      li{
        height:52px;
      }
    }
    &.nine{
      li{
        height:52px;
      }
    }
    &.twelve{
      li{
        height:52px;
      }
    }
  }
}
/* End CSS for Internet Explorer 9 (Only) */