

.board-list{
    display:flex;
    justify-content:flex-end;
    select{
        position:relative;
        width:80px;
        height:30px;
        margin-right:10px;
        padding-left:7px;
        border:1px solid #bababa;
        font-size:13px;
        font-family:'Malgun Gothic', sans-serif;
        outline:none;
        overflow:hidden;
        background:url('../images/icon/board-list-icon2.png') no-repeat;
        background-position:calc(100% - 4px) center;
        -webkit-appearance: none;
        appearance:none;
        cursor:pointer;
        &:focus{
            outline:none;
        }
        &::-ms-expand {
            visibility:hidden;
        }
    }
    input[type="search"]{
        height:30px;
        margin-right:10px;
        padding-left:8px;
        border:1px solid #bababa;
        &:focus{
            outline:none;
        }
        &::placeholder{
            color:#b5b5b5;
        }
        &::-webkit-search-cancel-button{
            display: none;
        }
        &::-ms-clear, &::-ms-reveal{
            display: none;
        }
        &:focus{
            color:#313131;
        }
    }
    button{
        position:relative;
        padding:7px 12px;
        border:1px solid #7e5c5b;
        border-bottom:1px solid #4f3938;
        background-color:#936c6a;
        color:#fff;
        font-weight:bold;
        line-height:12px;
        cursor:pointer;
        &:focus{
            outline:none;
        }
    }
    .calendar{
        width:72px;
        height:26px;
        border:1px solid #bababa;
    }
    input{
        font-size:13px;
        font-family:'Malgun Gothic', sans-serif;
        padding-left:7px;
        padding-right:7px;
    }
}

ul.count-tab{
    display:flex;
    width:175px;
    align-items:center;
    font-size:13px;
    font-family:'Malgun Gothic', sans-serif;
    li{ 
        position:relative;
        a{
            display:flex;
            align-items:center;
            height:28px;
            color:#535353;
            border:1px solid #dedede;
        }
        &.total a{
            background-color:#f7f7f7;
            padding-left:5px;
            padding-right:30px;
            border-right:none;
            &:after{
                content:url('../images/icon/board-list-icon1.png');
                position:absolute;
                top:12px;
                right:10px;
            }
        }
        &.number a{
            padding-left:12px;
            padding-right:8px;
            .values{
                color:#a40022;
                font-size:14px;
            }
            .key{
                margin-left:4px;
            }
        }
    }
}

.sort-tab{
    select{
        width:113px;
    }
}

.search-tab{
    &.one input{
        width:234px;
    }
    &.two input, &.three input{
        width:144px;
    }
    &.three{
        .second-select{
            padding-left:10px;
            border-left: 1px solid #dedede;
        }
    }
    button{
        padding-left:30px;
        &:before{
            content:url('../images/icon/board-list-icon3.png');
            position:absolute;
            left:13px;
            top:7px;
        }
    }
}

.button-tabs{
    position:relative;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        height:28px;
        width:30px;
        background-position:center;
        background-repeat:no-repeat;
        border:1px solid #b6b6b6;
        color:#b5b5b5;
        font-size:13px;
        font-family:'Malgun Gothic', sans-serif;
        text-decoration:none;
        cursor:pointer;
        span{
            display:none;
        }
    }
    .list-tab a{
        background-image:url('../images/icon/board-list-icon5.png');
        border-right:none;
    }
    .gallery-tab a{
        background-image:url('../images/icon/board-list-icon6.png');
    }
    .list-tab.on a{
        background-image:url('../images/icon/board-list-icon4.png');
        color:#000;
    }
    .gallery-tab.on a{
        background-image:url('../images/icon/board-list-icon9.png');
        color:#000;
    }
}

.calendar-tab{
    .calendar1, .calendar2{
        display:flex;
        position:relative;
        width:127px;
        .calendar-wrapper{
            width:100%;
        }
    }
    img{
        position:absolute;
        margin:4px 9px;
    }
    .divider{
        width:7px;
        height:30px;
        margin-right:8px;
        background:url('../images/icon/board-list-icon7.png') no-repeat center;
    }
}

.combi-tab{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.combi-right{
    display:flex;
    .button-tabs{
        margin-right:10px;
        padding-right:10px;
        border-right:1px solid #dedede;
    }
}

@media screen and (max-width: 639px){
    ul.count-tab{
        width:100%;
        .number{
            width:100%;
            a{
                justify-content:flex-end;
            }
        }
    }
    .board-list{
        &.sort-tab{
            select{
                width:calc(100% - 63px);
            }
        }
        &.search-tab.one input {
            width:calc(100% - 81px);;
        }
        &.search-tab.two input {
            width:calc(100% - 171px);;
        }
        &.search-tab.three input {
            width:calc(100% - 272px);
        }
        & .calendar1, & .calendar2 {
            width:calc(50% - 34px);
        }
        &.calendar-tab input {
            width:calc(100% - 55px);;
        }
    }
    ul.button-tabs{
        li{
            width:50%;
            a{
                width:100%;
                background-position:8px;
                span{
                    display:block;
                }
            }
        }
    }
    .combi-tab{
        flex-direction:column;
        align-items:flex-start;
        .board-list{
            width:100%;
            margin-top:10px;
        }
        .combi-right{
            flex-direction:column;
            width:100%;
            .button-tabs{
                margin-right:0;;
                padding-right:0;
                border-right:none;
            }
        }
    }
}

@media screen and (max-width: 479px){
    .board-list{
        &.search-tab.three{
            flex-flow:wrap;
            .first-select{
                width:100%;
                margin-bottom:10px;
                & select{
                    width:100%;
                }
            }
            .second-select{
                padding-left:0;
                border-left:none;
            }
            input {
                width: calc(100% - 171px);
            }
        }
    }
}

@media screen and (max-width: 360px){
    .calendar-tab{
        input{
            font-size:10px;
        }
    }
}