.general-event-login{
	table{
		&.common_front_board_list_form_general1_basis{
			display: table;
			width: 100%;
			border-top: 2px solid #a40022;
			border-bottom:2px solid #313131;
			table-layout: fixed;
			tr{
				font: normal 13px 'Malgun Gothic';
				th{
					font-weight: bold;	
					color:#755332;
					padding: 15px 0;
					border-bottom:1px solid #313131;
					border-right:1px solid #e6e6e6;
					z-index: 1;
					&:last-child{
						border-right:none;
					}
				}
				td{
					color: #1b1b1b;
					text-align:center;
					border-bottom:1px solid #d4d4d4;
					border-right:1px solid #e6e6e6;
					vertical-align: middle;
					&:last-child{
						border-right:none;
					}
					&.status{
						.notice{
							background: #4e6479;
							border: 1px solid #475b6e;
							padding: 3px 7px;
							color: #fff;
						}
					}
					&.writer-division{
						text-align: left;
						padding: 0 15px;
					}
					&.title{
						width: 100%;
						text-align: left;
						padding: 13px 15px;
						line-height: 20px;
						box-sizing: border-box;
						font: normal 17px/20px 'Malgun Gothic';
					}
					&.new{
						&:after{
                            content: url($img + 'icon/event_login_icon_new.png');
                        	margin: 0 0 0 5px;
                        	vertical-align: middle;
                        }
					}
					a{
						color: #1b1b1b;
						&.file{
							display: inline-block;
							position: relative;
							width: 50px;
							margin: 0 0 0 12px;
							&:before{
	                            float: left;
	                            content:url($img + 'icon/icon-save.png');
	                        	margin: 1px 0 0 0;
	                        }
						}
						&:hover{
							text-decoration: underline;
						}
					}
					&.rel{
						position: relative;
					}
					.download-file{
						display: none;
						position: absolute;
						top: 10px;
						left:10px;
						border: 1px solid #313131;
						background: #ffffff;
						text-align: left;
						min-width: 213px;
						z-index: 1;
						.top{
							display: block;
							padding: 11px 15px;
							font: bold 13px 'Malgun Gothic';
							background: #434343;
							color: #ffffff;
							.close{
								float: right;
								border: none;
								border-left: 1px solid #313131;
								margin: -11px -15px;
								background: #3d3d3d url($img + 'icon/btn-trans-close.png') no-repeat center;
								width: 36px;
								height: 38px;
								cursor: pointer;
							}
						}
						>ul{
							&.files{
								padding: 15px 13px;
								>li{
									display: block;
									margin-bottom: 10px;
									
									&:last-child{
										margin:0;
									}
									>a{
										display: block;
										padding: 0 0 0 25px;
										min-height: 20px;
				      					&.pdf{
				      						background: url($img + 'icon/icon-pdf.png') no-repeat left top;
				      					}
				      					&.doc{
				      						background: url($img + 'icon/icon-doc.png') no-repeat left top 4px;
				      					}
				      					&.zip{
				      						background: url($img + 'icon/icon-zip.png') no-repeat left top 2px;
				      					}
										&:hover{
											text-decoration:underline;
										}
									}
								}
							}
						}
					}
				}
				&.highlighted{
					background: #f0f6f7;
				}
			}		
		}
	}
}
/*---------------------------------*/
/* 640px */
/*---------------------------------*/
@media screen and (max-width:767px){
	.general-event-login{
		table{
			&.common_front_board_list_form_general1_basis{
				colgroup{
					display: none;
				}
				tr{ 
					border-bottom: 1px solid #d4d4d4;
					th{
						display: none;
					}
					&:first-child{
						border: none;
					}
					.none{
						display: none!important;
					}
					td{
						float: left;
						border-bottom:none;
						border-right:none;
						padding: 0 0 29px 15px;
						&.border-left{
							background: url("../images/bg/bg_border_gray.jpg") no-repeat 7.5px 4px;
						}
						&.status{
							padding: 20px 0 0 15px;
						}
						&.sort{
							color: #9b7a58;
							padding: 20px 7px 0 15px;
						}
						&.ml{
							margin: 0 0 0 -8px;
						}
						&.writer-division{

						}
						&.title{
							padding: 20px 15px 14px 15px;
						}
						&.date{
							
						}
						&.new{
							&:after{
	                           
	                        }
						}
						a{
							&.file{
								margin: 0;
								width: auto;
								&:before{
		                            margin: 1px 10px 0 0;
		                        }
							}
							&:hover{
								
							}
						}
						&.rel{
							
						}
						&:first-child, &:nth-child(2){
							display: block;
						}
						.views{
							padding: 0 0 0 21px;
							background: url("../images/icon/icon_hits.png") no-repeat 0 4px;
						}
						.download-file{
							.top{
								
								.close{
									
								}
							}
							>ul{
								&.files{
									
									>li{
										
										&:last-child{
											
										}
										>a{
											
					      					&.pdf{
					      						
					      					}
					      					&.doc{
					      						
					      					}
					      					&.zip{
					      						
					      					}
											&:hover{
												
											}
										}
									}
								}
							}
						}
					}
				}		
			}
		}
	}
}