<<<<<<< HEAD
.container {
  width: 100%;
}

ul.small-combi-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 480px) {
  ul.small-combi-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

ul.small-combi-tab li {
  height: 30px;
  width: 100%;
  background-color: #483f41;
  text-align: center;
}

ul.small-combi-tab li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  padding-left: 9px;
  font-size: 13px;
  font-family: 'Malgun Gothic', sans-serif;
  color: #f3e6e6;
  text-decoration: none;
}

ul.small-combi-tab li.on {
  position: relative;
  background-color: #936c6a;
}

ul.small-combi-tab li.on a {
  color: #fff;
}

ul.small-combi-tab li.on:after {
  content: url("../images/icon/icon-down.png");
  position: absolute;
  right: 13px;
  top: 45%;
}

ul.small-combi-tab li:nth-child(n + 2) {
  border-bottom: 1px solid #fff;
}

@media (min-width: 480px) {
  ul.small-combi-tab li:nth-child(n + 2) {
    border-bottom: none;
    border-left: 1px solid #fff;
  }
}

ul.small-combi-tab li:last-child {
  border-bottom: none;
}

@media (min-width: 480px) {
  ul.small-combi-tab.wrap {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

@media (min-width: 480px) {
  ul.small-combi-tab.wrap li {
    width: 50%;
    border: none;
  }
}

@media (min-width: 480px) {
  ul.small-combi-tab.wrap li:nth-child(n + 3) {
    border-top: 1px solid #fff;
  }
}

@media (min-width: 480px) {
  ul.small-combi-tab.wrap li:nth-child(n + 1) a {
    border-left: 1px solid #fff;
  }
}

ul.small-combi-tab.wrap li:first-child a {
  border-left: none;
}

@media (min-width: 640px) {
  ul.small-combi-tab.two.wrap {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
}

@media (min-width: 640px) {
  ul.small-combi-tab.two.wrap li {
    border-top: none;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.two.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.three.wrap {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.three.wrap li {
    border-top: none;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.three.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.three.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

ul.small-combi-tab.four.wrap li:nth-child(odd) a {
  border-left: none;
}

@media (min-width: 768px) {
  ul.small-combi-tab.five.wrap {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.five.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.five.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  ul.small-combi-tab.five.wrap li {
    height: 48px;
    line-height: 18px;
    border-top: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.five.wrap li {
    border-top: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.five.wrap li a {
    padding-right: 21px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.six.wrap {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.six.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.six.wrap li:nth-child(4) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.six.wrap li {
    width: calc(100% / 3);
    border-top: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.six.wrap li:nth-child(n + 4) {
    border-top: 1px solid #fff;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.six.wrap li {
    height: 48px;
    line-height: 18px;
    border-top: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.six.wrap li a {
    padding-right: 29px;
    text-align: left;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.seven.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) {
  ul.small-combi-tab.seven.wrap li:nth-child(4) a {
    border-left: none;
  }
}

@media (min-width: 640px) {
  ul.small-combi-tab.seven.wrap li {
    width: calc(100% / 3);
    border-top: none;
  }
}

@media (min-width: 640px) {
  ul.small-combi-tab.seven.wrap li:nth-child(n + 4) {
    border-top: 1px solid #fff;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.eight.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.eight.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  ul.small-combi-tab.eight.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.eight.wrap li:nth-child(4) a {
    border-left: none;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.eight.wrap li {
    width: calc(100% / 3);
    border-top: none;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.eight.wrap li:nth-child(n + 4) {
    border-top: 1px solid #fff;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.nine.wrap {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.nine.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.nine.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.nine.wrap li {
    height: 48px;
    line-height: 18px;
    border-top: none;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  ul.small-combi-tab.nine.wrap li a {
    padding-right: 20px;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.nine.wrap li a {
    padding-right: 32px;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.ten.wrap {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.ten.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.ten.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  ul.small-combi-tab.ten.wrap li:nth-child(5) a {
    border-left: none;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  ul.small-combi-tab.ten.wrap li {
    width: calc(100% / 4);
    border-top: none;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.ten.wrap li {
    height: 48px;
    line-height: 18px;
    border-top: none;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.ten.wrap li a {
    padding-right: 29px;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  ul.small-combi-tab.ten.wrap li:nth-child(n + 5) {
    border-top: 1px solid #fff;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.eleven.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.eleven.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.eleven.wrap li:nth-child(5) a {
    border-left: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.eleven.wrap li {
    width: calc(100% / 4);
    border-top: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.eleven.wrap li:nth-child(n + 5) {
    border-top: 1px solid #fff;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.eleven.wrap li, ul.small-combi-tab.twelve.wrap li {
    width: calc(100% / 4);
    border-top: none;
  }
}

@media (min-width: 768px) {
  ul.small-combi-tab.eleven.wrap li:nth-child(n + 5), ul.small-combi-tab.twelve.wrap li:nth-child(n + 5) {
    border-top: 1px solid #fff;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ul.small-combi-tab.twelve.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  ul.small-combi-tab.twelve.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  ul.small-combi-tab.twelve.wrap li:nth-child(odd) a {
    border-left: none;
  }
}

@media (min-width: 960px) {
  ul.small-combi-tab.twelve.wrap li:nth-child(5) a {
    border-left: none;
  }
}
/*# sourceMappingURL=common_front_tab1_small_combi_brown.css.map */
=======
.container { width: 100%; }

ul.small-combi-tab { display: flex; flex-direction: column; }
@media (min-width: 480px) { ul.small-combi-tab { flex-direction: row; } }
ul.small-combi-tab li { height: 30px; width: 100%; background-color: #483f41; text-align: center; }
ul.small-combi-tab li a { display: flex; align-items: center; justify-content: flex-start; height: 100%; padding-left: 9px; font-size: 13px; font-family: 'Malgun Gothic', sans-serif; color: #f3e6e6; text-decoration: none; }
ul.small-combi-tab li.on { position: relative; background-color: #936c6a; }
ul.small-combi-tab li.on a { color: #fff; }
ul.small-combi-tab li.on:after { content: url("../images/icon/icon-down.png"); position: absolute; right: 13px; top: 45%; }
ul.small-combi-tab li:nth-child(n + 2) { border-bottom: 1px solid #fff; }
@media (min-width: 480px) { ul.small-combi-tab li:nth-child(n + 2) { border-bottom: none; border-left: 1px solid #fff; } }
ul.small-combi-tab li:last-child { border-bottom: none; }
@media (min-width: 480px) { ul.small-combi-tab.wrap { flex-flow: wrap; } }
@media (min-width: 480px) { ul.small-combi-tab.wrap li { width: 50%; border: none; } }
@media (min-width: 480px) { ul.small-combi-tab.wrap li:nth-child(n + 3) { border-top: 1px solid #fff; } }
@media (min-width: 480px) { ul.small-combi-tab.wrap li:nth-child(n + 1) a { border-left: 1px solid #fff; } }
@media (min-width: 640px) { ul.small-combi-tab.two.wrap { flex-flow: nowrap; } }
@media (min-width: 640px) { ul.small-combi-tab.two.wrap li { border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.three.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) { ul.small-combi-tab.three.wrap li { border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.five.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.five.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.five.wrap li { border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.five.wrap li a { padding-right: 21px; text-align: left; } }
@media (min-width: 768px) { ul.small-combi-tab.six.wrap { flex-flow: nowrap; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-combi-tab.six.wrap li { width: calc(100% / 3); border-top: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-combi-tab.six.wrap li:nth-child(n + 4) { border-top: 1px solid #fff; } }
@media (min-width: 768px) { ul.small-combi-tab.six.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.six.wrap li a { padding-right: 29px; text-align: left; } }
@media (min-width: 640px) { ul.small-combi-tab.seven.wrap li { width: calc(100% / 3); border-top: none; } }
@media (min-width: 640px) { ul.small-combi-tab.seven.wrap li:nth-child(n + 4) { border-top: 1px solid #fff; } }
@media (min-width: 960px) { ul.small-combi-tab.eight.wrap li { width: calc(100% / 3); border-top: none; } }
@media (min-width: 960px) { ul.small-combi-tab.eight.wrap li:nth-child(n + 4) { border-top: 1px solid #fff; } }
@media (min-width: 768px) { ul.small-combi-tab.nine.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) { ul.small-combi-tab.nine.wrap li { height: 48px; line-height: 18px; border-top: none; text-align: left; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.nine.wrap li a { padding-right: 20px; } }
@media (min-width: 960px) { ul.small-combi-tab.nine.wrap li a { padding-right: 32px; } }
@media (min-width: 960px) { ul.small-combi-tab.ten.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.ten.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 960px) { ul.small-combi-tab.ten.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 960px) { ul.small-combi-tab.ten.wrap li a { padding-right: 29px; text-align: left; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.ten.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }
@media (min-width: 768px) { ul.small-combi-tab.eleven.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.eleven.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }
@media (min-width: 960px) { ul.small-combi-tab.eleven.wrap li, ul.small-combi-tab.twelve.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.eleven.wrap li:nth-child(n + 5), ul.small-combi-tab.twelve.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }

/*# sourceMappingURL=common_front_tab1_small_combi_brown.css.map */
>>>>>>> 6888e1c08623058ce662d1f27078b9d4f8346c38
