

@mixin desktop {
    @media (min-width: 960px) { @content; }
}
@mixin from-tab {
    @media (min-width: 768px) { @content; }
}
@mixin tab {
    @media (min-width: 768px) and (max-width: 959px) { @content; }
}
@mixin from-lg-phone {
    @media (min-width: 640px) { @content; }
}
@mixin lg-phone {
    @media (min-width: 640px) and (max-width: 767px) { @content; }
}
@mixin from-phone {
    @media (min-width: 480px) { @content; }
}
@mixin sm-phone {
    @media (min-width: 480px) and (max-width: 639px) { @content; }
}
@mixin phone-only {
    @media (max-width: 480px) { @content; }
}

.container{
    width:100%;
}

ul.combi-normal-tab{
    display:flex;
    flex-direction:column;
    @include from-phone{
        flex-direction:row;
    }
    li{
        height:46px;
        width:100%;
        background-color:#483f41;
        text-align:center;
        a{
            display:flex;
            align-items:center;
            justify-content:flex-start;
            height:100%;
            padding-left:17px;
            font-size:13px;
            font-family:'Malgun Gothic', sans-serif;
            font-weight:bold;
            color:#f3e6e6;
            text-decoration:none;
            cursor:pointer;
        }
        &.on{
            position:relative;
            background-color:#936c6a;
            @include phone-only{
                border-top:1px solid #fff;
                border-bottom:1px solid #fff;
            }
            a{
                color:#fff;
            }
            &:after{
                content:url('../images/icon/icon-down-normal.png');
                position:absolute;
                right:20px;
                top:45%;
            }
        }
        &:nth-child(n + 2){
            border-bottom:1px solid #fff;
            @include from-phone{
                border-bottom:none;
                border-left:1px solid #fff;
            }
        }
        &:last-child{
            border-bottom:none;
        }
        &:first-child{
            a{
                border-left:none;
            }
        }
    }
    &.wrap{
        @include from-phone{
            flex-flow:wrap;
        }
        li{
            @include from-phone{
                width:50%;
                border:none;
            }
            &:nth-child(n + 3){
                @include from-phone{
                    border-top:1px solid #fff;
                }
            }
            &:nth-child(n + 2) a{
                @include from-phone{
                    border-left:1px solid #fff;
                }
            }
        }
    }
    &.two.wrap{
        @include from-tab{
            flex-flow:nowrap;
        }
        li{
            &:nth-child(odd) a{
                border-left:none;
            }
            @include from-tab{
                border-top:none;
                border-left:1px solid #fff;
            }
        }
    }
    &.three.wrap{
        @include from-tab{
            flex-flow:nowrap;
        }
        li{
            &:nth-child(odd) a{
                border-left:none;
            }
            @include tab{
                height:64px;
                line-height:18px;
            }
            @include from-tab{
                border-top:none;
                border-left:1px solid #fff;
            }
            a{
                @include tab{
                    padding-right:45px;
                    text-align:left;}
            }
        }
    }
    &.four.wrap{
        li:nth-child(odd) a{
            border-left:none;
        }
    }
    &.five.wrap{
        @include from-tab{
            flex-flow:nowrap;
        }
        li{
            &:nth-child(odd) a{
                border-left:none;
                @include from-tab{
                    border-left:1px solid #fff;
                }
            }
            @include from-tab{
                height:64px;
                line-height: 18px;
                border-top:none;
            }
            @include from-tab{
                border-top:none;
            }
            a{
                @include tab{
                    padding-right:45px;
                    text-align:left;
                }
                @include desktop{
                    padding-right:54px;
                    text-align:left;
                }
            }
        }
    }
    &.six.wrap{
        @include from-tab{
            flex-flow:nowrap;
        }
        li{
            @include sm-phone{
                &:nth-child(odd) a{
                    border-left:none;
                }
            }
            @include lg-phone{
                &:nth-child(4) a{
                    border-left:none;
                }
            }
            @include lg-phone{
                width: calc(100% / 3);
                border-top:none;
            }
            @include tab{
                height:82px;
                line-height:18px;
                border-top:none;
            }
            @include desktop{
                height:64px;
                line-height:18px;
                border-top:none;
            }
            &:nth-child(n + 4){
                @include lg-phone{
                    border-top:1px solid #fff;
                }
            }
            a{
                @include tab{
                    padding-right:46px;
                    text-align:left;
                }
                @include desktop{
                    padding-right:39px;
                    text-align:left;
                }
            }
        }
    }
    &.seven.wrap{
        li{
            @include sm-phone{
                &:nth-child(odd) a{
                    border-left:none;
                }
            }
            @include lg-phone{
                &:nth-child(4) a{
                    border-left:none;
                }
            }
            @include from-lg-phone{
                width: calc(100% / 3);
                border-top:none;
            }
            &:nth-child(n + 4){
                @include from-lg-phone{
                    border-top:1px solid #fff;
                }
            }
        }
    }
    &.eight.wrap{
        li{
            &:nth-child(odd) a{
                @include sm-phone{
                    border-left:none;
                }
                @include lg-phone{
                    border-left:none;
                }
                @include tab{
                    border-left:none;
                }
            }
            @include desktop{
                width: calc(100% / 3);
                border-top:none;
            }
            &:nth-child(n + 4){
                @include desktop{
                    border-top:1px solid #fff;
                }
            }
            &:nth-child(4) a{
                @include desktop{
                    border-left:none;
                }
            }
        }
    }
    &.nine.wrap{
        @include from-tab{
            flex-flow:nowrap;
        }
        li{
            &:nth-child(odd) a{
                @include sm-phone{
                    border-left:none;
                }
                @include lg-phone{
                    border-left:none;
                }
            }
            @include from-tab{
                line-height: 18px;
                border-top:none;
                text-align:left;
            }
            @include tab{
                height:100px;
            }
            @include desktop{
                height:64px;
            }
            a{
                @include tab{
                    padding-right:40px;
                }
                @include desktop{
                    padding-right:42px;
                }
            }
        }
    }
    &.ten.wrap{
        @include desktop{
            flex-flow:nowrap;
        }
        li{
            &:nth-child(odd) a{
                @include sm-phone{
                    border-left:none;
                }
                @include lg-phone{
                    border-left:none;
                }
            }
            @include tab{
                width: calc(100% / 4);
                border-top:none;
                height:64px;
            }
            @include desktop{
                height:82px;
                line-height:18px;
                border-top:none;
            }
            a{
                @include tab{
                    padding-right:45px;
                    text-align:left;
                }
                @include desktop{
                    padding-right:38px;
                    text-align:left;
                }
            }
            &:nth-child(n + 5){
                @include tab{
                    border-top:1px solid #fff;
                }
            }
            &:nth-child(5) a{
                @include tab{
                    border-left:none;
                }
            }
        }
    }
    &.eleven.wrap{
        li{
            &:nth-child(odd) a{
                @include sm-phone{
                    border-left:none;
                }
                @include lg-phone{
                    border-left:none;
                }
            }
            @include tab{
                height:64px;
            }
            @include from-tab{
                width: calc(100% / 4);
                border-top:none;
            }
            &:nth-child(5) a{
                @include from-tab{
                    border-left:none;
                }
            }
            &:nth-child(n + 5){
                @include from-tab{
                    border-top:1px solid #fff;
                }
            }
            a{
                @include tab{
                    padding-right:45px;
                    text-align:left;
                }
            }
        }
    }
    &.eleven.wrap,&.twelve.wrap{
        li{
            @include desktop{
                width: calc(100% / 4);
                border-top:none;
            }
            &:nth-child(n + 5){
                @include from-tab{
                    border-top:1px solid #fff;
                }
            }
        }
    }
    &.twelve.wrap{
        li{
            &:nth-child(odd) a{
                border-left:none;
            }
            &:nth-child(3) a, &:nth-child(7) a{
                @include desktop{
                    border-left:1px solid #fff;
                }
            }
        }
    }
}