a { text-decoration: none; }

.common-front-paging1 { width: 100%; font: normal 13px 'Malgun Gothic'; margin-top: 15px; text-align: center; }
.common-front-paging1 div { display: inline-block; }
.common-front-paging1 div > span.left { display: inline-block; border: 1px solid #cfcfcf; border-bottom: 1px solid #9a9a9a; margin-right: 10px; box-sizing: border-box; }
.common-front-paging1 div > span.left > a { display: inline-block; }
.common-front-paging1 div > span.left > a.first { float: left; width: 29px; height: 25px; background: url("../images/icon/icon_first_page.png") no-repeat 50% 50%; border-right: 1px solid #d7d7d7; }
.common-front-paging1 div > span.left > a.prev { float: left; width: 25px; height: 25px; background: url("../images/icon/icon_back.png") no-repeat 50% 50%; }
.common-front-paging1 div > span.right { display: inline-block; border: 1px solid #cfcfcf; border-bottom: 1px solid #9a9a9a; margin-left: 10px; box-sizing: border-box; }
.common-front-paging1 div > span.right > a { display: inline-block; }
.common-front-paging1 div > span.right > a.last { float: left; width: 29px; height: 25px; background: url("../images/icon/icon_last_page.png") no-repeat 50% 50%; }
.common-front-paging1 div > span.right > a.next { float: left; width: 25px; height: 25px; background: url("../images/icon/icon_next.png") no-repeat 50% 50%; border-right: 1px solid #d7d7d7; }
.common-front-paging1 div > ul { border-right: 1px solid #d7d7d7; display: inline-block; }
.common-front-paging1 div > ul > li { display: table-cell; height: 24px; min-width: 24px; border: 1px solid #e0e0e0; border-right: none; line-height: 24px; }
.common-front-paging1 div > ul > li a { display: block; color: #535353; text-decoration: none; }
.common-front-paging1 div > ul > li.on { border: 1px solid #95001f; border-right: 1px solid #95001f; background: #a40022; box-sizing: border-box; }
.common-front-paging1 div > ul > li.on a { color: #fff; font-weight: bold; text-decoration: none; }
.common-front-paging1 div > ul > li.total { display: none; }

/*-------------------------------*/
/* 610px */
/*-------------------------------*/
@media screen and (max-width: 737px) { .common-front-paging1 div > ul { border-right: 0; }
  .common-front-paging1 div > ul > li { display: none; border: none; }
  .common-front-paging1 div > ul > li.on { display: table-cell; min-width: 7px; border-right: 0; background: 0; border: 0; }
  .common-front-paging1 div > ul > li.on a { display: inline-block; color: #a40022; line-height: 15px; }
  .common-front-paging1 div > ul > li.total { display: table-cell; position: relative; }
  .common-front-paging1 div > ul > li.total:before { position: absolute; left: 0; content: '/'; color: #535353; font-weight: normal; } }
.btn { padding: 10px 20px 10px !important; display: inline-block; padding: 10px 12px 10px 12px; cursor: pointer; font: bold 13px "Malgun Gothic"; }

.btn2 { display: inline-block; padding: 10px 12px 10px 12px; cursor: pointer; font: bold 13px "Malgun Gothic"; }
.btn2:before { content: ''; width: 12px; height: 20px; padding: 0 0px 0 14px; margin-right: 7px; }

.btn-white { background-color: #fff; color: #000; border: 1px solid #bcbcbc; }
.btn-white.icon-pill:before { background: url("../images/icon/btn-white-pill.png") no-repeat 50% 50%; }
.btn-white.icon-arrow-left:before { background: url("../images/icon/btn-white-larrow.png") no-repeat 50%; }
.btn-white.icon-close:before { background: url("../images/icon/btn-white-close.png") no-repeat 50%; }
.btn-white.icon-trash:before { background: url("../images/icon/btn-white-trash.png") no-repeat 50%; }
.btn-white.icon-updown:before { background: url("../images/icon/btn-white-updown.png") no-repeat 50%; }
.btn-white.icon-calendar:before { background: url("../images/icon/btn-white-calendar.png") no-repeat 50%; }

.btn-red { background-color: #a40022; color: #fff; border: 1px solid #500014; }
.btn-red.icon-write:before { background: url("../images//icon/btn-red-write.png") no-repeat 50%; }
.btn-red.icon-edit:before { background: url("../images//icon/btn-red-edit.png") no-repeat 50%; }
.btn-red.icon-plus:before { background: url("../images//icon/btn-red-plus.png") no-repeat 50%; }
.btn-red.icon-play:before { background: url("../images//icon/btn-red-play.png") no-repeat 50%; }
.btn-red.icon-paper:before { background: url("../images//icon/btn-red-paper.png") no-repeat 50%; }
.btn-red.icon-pc:before { background: url("../images//icon/btn-red-pc.png") no-repeat 50%; }
.btn-red.icon-plus2:before { background: url("../images//icon/btn-red-plus2.png") no-repeat 50%; }

.btn-orange { background-color: #f98900; color: #fff; border: 1px solid #ee6f00; }
.btn-orange.icon-dl:before { background: url("../images//icon/btn-orange-dl.png") no-repeat 50%; }
.btn-orange.icon-updown:before { background: url("../images//icon/btn-orange-updown.png") no-repeat 50%; }
.btn-orange.icon-power:before { background: url("../images//icon/btn-orange-power.png") no-repeat 50%; }
.btn-orange.icon-dialogue:before { background: url("../images//icon/btn-orange-dialogue.png") no-repeat 50%; }

.btn-green { background-color: #529c1c; color: #fff; border: 1px solid #427d16; }
.btn-green.icon-upload:before { background: url("../images//icon/btn-green-upload.png") no-repeat 50%; }
.btn-green.icon-download:before { background: url("../images//icon/btn-green-download.png") no-repeat 50%; }

.btn-brown { background-color: #936c6a; color: #fff; border: 1px solid #7e5c5b; }
.btn-brown.icon-write:before { background: url("../images//icon/btn-brown-write.png") no-repeat 50%; }
.btn-brown.icon-reset:before { background: url("../images//icon/btn-brown-reset.png") no-repeat 50%; }
.btn-brown.icon-add:before { background: url("../images//icon/btn-brown-add.png") no-repeat 50%; }
.btn-brown.icon-settings:before { background: url("../images//icon/btn-brown-settings.png") no-repeat 50%; }
.btn-brown.icon-dialogue:before { background: url("../images//icon/btn-brown-dialogue.png") no-repeat 50%; }
.btn-brown.icon-edit:before { background: url("../images//icon/btn-brown-edit.png") no-repeat 50%; }

.btn[disabled] { background-color: #fcfcfc; color: #d6d5d5; margin-bottom: 10px; border: 1px solid #dadada; pointer-events: none; }

.btn2[disabled] { background-color: #fcfcfc; color: #d6d5d5; margin-bottom: 10px; border: 1px solid #dadada; pointer-events: none; }
.btn2[disabled].icon-pill:before { background: url("../images//icon/btn-trans-pill.png") no-repeat 50%; }
.btn2[disabled].icon-left:before { background: url("../images//icon/btn-trans-left.png") no-repeat 50%; }
.btn2[disabled].icon-close:before { background: url("../images//icon/btn-trans-close.png") no-repeat 50%; }
.btn2[disabled].icon-trash:before { background: url("../images//icon/btn-trans-trash.png") no-repeat 50%; }
.btn2[disabled].icon-updown:before { background: url("../images//icon/btn-trans-updown.png") no-repeat 50%; }
.btn2[disabled].icon-write:before { background: url("../images//icon/btn-trans-write.png") no-repeat 50%; }
.btn2[disabled].icon-edit:before { background: url("../images//icon/btn-trans-edit.png") no-repeat 50%; }
.btn2[disabled].icon-plus:before { background: url("../images//icon/btn-trans-plus.png") no-repeat 50%; }
.btn2[disabled].icon-power:before { background: url("../images//icon/btn-trans-power.png") no-repeat 50%; }
.btn2[disabled].icon-download:before { background: url("../images//icon/btn-trans-download.png") no-repeat 50%; }
.btn2[disabled].icon-dialogue:before { background: url("../images//icon/btn-trans-dialogue.png") no-repeat 50%; }
.btn2[disabled].icon-ul:before { background: url("../images//icon/btn-trans-ul.png") no-repeat 50%; }
.btn2[disabled].icon-dl:before { background: url("../images//icon/btn-trans-dl.png") no-repeat 50%; }
.btn2[disabled].icon-plus2:before { background: url("../images//icon/btn-trans-plus2.png") no-repeat 50%; }
.btn2[disabled].icon-reset:before { background: url("../images//icon/btn-trans-reset.png") no-repeat 50%; }
.btn2[disabled].icon-settings:before { background: url("../images//icon/btn-trans-settings.png") no-repeat 50%; }
.btn2[disabled].icon-paper:before { background: url("../images//icon/btn-trans-paper.png") no-repeat 50%; }
.btn2[disabled].icon-pc:before { background: url("../images//icon/btn-trans-pc.png") no-repeat 50%; }
.btn2[disabled].icon-calendar:before { background: url("../images//icon/btn-trans-calendar.png") no-repeat 50%; }

.btn-grp.align-center { text-align: center; }
.btn-grp.align-right { text-align: right; }
.btn-grp.align-left { float: left; }
.btn-grp.float-right { float: right; }
.btn-grp .line { display: none; }

@media screen and (max-width: 929px) { .btn-container button { margin-bottom: 10px; } }
@media screen and (max-width: 609px) { .btn, .btn2 { text-align: center; display: block; margin-bottom: 10px; width: 100%; box-sizing: border-box; }
  .btn:before, .btn2:before { float: left; }
  .btn { padding: 10px 20px 10px 53px !important; }
  .btn-grp.float-right, .btn-grp.align-left { float: none; }
  .btn-grp .line { display: block; background: #d4d4d4; height: 1px; margin-bottom: 10px; } }
.container { width: 100%; }

ul.small-tab { display: flex; flex-direction: column; }
@media (min-width: 480px) { ul.small-tab { flex-direction: row; } }
ul.small-tab li { height: 30px; width: 100%; background-color: #483f41; text-align: center; }
ul.small-tab li a { display: flex; align-items: center; justify-content: center; height: 100%; font-size: 13px; font-family: 'Malgun Gothic', sans-serif; color: #f3e6e6; text-decoration: none; cursor: pointer; }
ul.small-tab li.on { background-color: #936c6a; }
ul.small-tab li.on a { color: #fff; }
ul.small-tab li:nth-child(n + 2) { border-bottom: 1px solid #fff; }
@media (min-width: 480px) { ul.small-tab li:nth-child(n + 2) { border-bottom: none; border-left: 1px solid #fff; } }
ul.small-tab li:last-child { border-bottom: none; }
@media (max-width: 480px) { ul.small-tab li:first-child { border-bottom: 1px solid #fff; } }
ul.small-tab li:first-child a { border-left: none; }
ul.small-tab.one { flex-direction: row; }
ul.small-tab.one li { height: 48px; border: none; line-height: 18px; }
@media (min-width: 480px) { ul.small-tab.one li { height: 30px; } }
ul.small-tab.one li:first-child a { padding: 0 14px; border-right: 1px solid #fff; }
@media (max-width: 480px) { ul.small-tab.one li.on { border-bottom: none; } }
@media (min-width: 480px) and (max-width: 639px) { ul.small-tab.three li { height: 48px; line-height: 18px; } }
@media (min-width: 480px) and (max-width: 639px) { ul.small-tab.three li a { padding: 0 16px; } }
@media (min-width: 480px) { ul.small-tab.wrap { flex-flow: wrap; } }
@media (min-width: 480px) { ul.small-tab.wrap li { width: 50%; border: none; } }
@media (min-width: 480px) { ul.small-tab.wrap li:nth-child(n + 3) { border-top: 1px solid #fff; } }
@media (min-width: 480px) { ul.small-tab.wrap li:nth-child(n + 2) a { border-left: 1px solid #fff; } }
@media (min-width: 640px) { ul.small-tab.four.wrap, ul.small-tab.five.wrap { flex-flow: nowrap; } }
@media (min-width: 640px) { ul.small-tab.four.wrap li, ul.small-tab.five.wrap li { border-top: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-tab.five.wrap li { height: 48px; line-height: 18px; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-tab.five.wrap li a { padding: 0 16px; } }
ul.small-tab.five.wrap li:nth-child(odd) a { border-left: none; }
ul.small-tab.six.wrap li:nth-child(odd) a { border-left: none; }
@media (min-width: 768px) { ul.small-tab.seven.wrap, ul.small-tab.eight.wrap { flex-flow: nowrap; } }
@media (min-width: 480px) and (max-width: 639px) { ul.small-tab.seven.wrap li:nth-child(odd) a, ul.small-tab.eight.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-tab.seven.wrap li:nth-child(odd) a, ul.small-tab.eight.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-tab.seven.wrap li, ul.small-tab.eight.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 768px) { ul.small-tab.seven.wrap li, ul.small-tab.eight.wrap li { border-top: none; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-tab.seven.wrap li a, ul.small-tab.eight.wrap li a { padding: 0 14px; } }
@media (min-width: 480px) and (max-width: 639px) { ul.small-tab.nine.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-tab.nine.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 768px) { ul.small-tab.nine.wrap li:nth-child(4) a { border-left: none; } }
@media (min-width: 768px) { ul.small-tab.nine.wrap li { width: calc(100% / 3); border-top: none; } }
@media (min-width: 768px) { ul.small-tab.nine.wrap li:nth-child(n + 4) { border-top: 1px solid #fff; } }
@media (min-width: 768px) { ul.small-tab.ten.wrap { flex-flow: nowrap; } }
@media (min-width: 480px) and (max-width: 639px) { ul.small-tab.ten.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-tab.ten.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 768px) { ul.small-tab.ten.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 768px) { ul.small-tab.ten.wrap li a { padding: 0 13px; } }
@media (min-width: 960px) { ul.small-tab.eleven.wrap { flex-flow: nowrap; } }
@media (min-width: 480px) and (max-width: 639px) { ul.small-tab.eleven.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-tab.eleven.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-tab.eleven.wrap li:nth-child(5) a { border-left: none; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-tab.eleven.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 960px) { ul.small-tab.eleven.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 960px) { ul.small-tab.eleven.wrap li a { padding: 0 16px; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-tab.eleven.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }
@media (min-width: 480px) and (max-width: 639px) { ul.small-tab.twelve.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-tab.twelve.wrap li:nth-child(odd) a { border-left: none; } }
@media (min-width: 768px) { ul.small-tab.twelve.wrap li:nth-child(5) a { border-left: none; } }
@media (min-width: 768px) { ul.small-tab.twelve.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 768px) { ul.small-tab.twelve.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }

.container { width: 100%; }

ul.small-combi-tab { display: flex; flex-direction: column; }
@media (min-width: 480px) { ul.small-combi-tab { flex-direction: row; } }
ul.small-combi-tab li { height: 30px; width: 100%; background-color: #483f41; text-align: center; }
ul.small-combi-tab li a { display: flex; align-items: center; justify-content: flex-start; height: 100%; padding-left: 9px; font-size: 13px; font-family: 'Malgun Gothic', sans-serif; color: #f3e6e6; text-decoration: none; }
ul.small-combi-tab li.on { position: relative; background-color: #936c6a; }
ul.small-combi-tab li.on a { color: #fff; }
ul.small-combi-tab li.on:after { content: url("../images/icon/icon-down.png"); position: absolute; right: 13px; top: 45%; }
ul.small-combi-tab li:nth-child(n + 2) { border-bottom: 1px solid #fff; }
@media (min-width: 480px) { ul.small-combi-tab li:nth-child(n + 2) { border-bottom: none; border-left: 1px solid #fff; } }
ul.small-combi-tab li:last-child { border-bottom: none; }
@media (min-width: 480px) { ul.small-combi-tab.wrap { flex-flow: wrap; } }
@media (min-width: 480px) { ul.small-combi-tab.wrap li { width: 50%; border: none; } }
@media (min-width: 480px) { ul.small-combi-tab.wrap li:nth-child(n + 3) { border-top: 1px solid #fff; } }
@media (min-width: 480px) { ul.small-combi-tab.wrap li:nth-child(n + 1) a { border-left: 1px solid #fff; } }
@media (min-width: 640px) { ul.small-combi-tab.two.wrap { flex-flow: nowrap; } }
@media (min-width: 640px) { ul.small-combi-tab.two.wrap li { border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.three.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) { ul.small-combi-tab.three.wrap li { border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.five.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.five.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.five.wrap li { border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.five.wrap li a { padding-right: 21px; text-align: left; } }
@media (min-width: 768px) { ul.small-combi-tab.six.wrap { flex-flow: nowrap; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-combi-tab.six.wrap li { width: calc(100% / 3); border-top: none; } }
@media (min-width: 640px) and (max-width: 767px) { ul.small-combi-tab.six.wrap li:nth-child(n + 4) { border-top: 1px solid #fff; } }
@media (min-width: 768px) { ul.small-combi-tab.six.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.six.wrap li a { padding-right: 29px; text-align: left; } }
@media (min-width: 640px) { ul.small-combi-tab.seven.wrap li { width: calc(100% / 3); border-top: none; } }
@media (min-width: 640px) { ul.small-combi-tab.seven.wrap li:nth-child(n + 4) { border-top: 1px solid #fff; } }
@media (min-width: 960px) { ul.small-combi-tab.eight.wrap li { width: calc(100% / 3); border-top: none; } }
@media (min-width: 960px) { ul.small-combi-tab.eight.wrap li:nth-child(n + 4) { border-top: 1px solid #fff; } }
@media (min-width: 768px) { ul.small-combi-tab.nine.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) { ul.small-combi-tab.nine.wrap li { height: 48px; line-height: 18px; border-top: none; text-align: left; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.nine.wrap li a { padding-right: 20px; } }
@media (min-width: 960px) { ul.small-combi-tab.nine.wrap li a { padding-right: 32px; } }
@media (min-width: 960px) { ul.small-combi-tab.ten.wrap { flex-flow: nowrap; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.ten.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 960px) { ul.small-combi-tab.ten.wrap li { height: 48px; line-height: 18px; border-top: none; } }
@media (min-width: 960px) { ul.small-combi-tab.ten.wrap li a { padding-right: 29px; text-align: left; } }
@media (min-width: 768px) and (max-width: 959px) { ul.small-combi-tab.ten.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }
@media (min-width: 768px) { ul.small-combi-tab.eleven.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.eleven.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }
@media (min-width: 960px) { ul.small-combi-tab.eleven.wrap li, ul.small-combi-tab.twelve.wrap li { width: calc(100% / 4); border-top: none; } }
@media (min-width: 768px) { ul.small-combi-tab.eleven.wrap li:nth-child(n + 5), ul.small-combi-tab.twelve.wrap li:nth-child(n + 5) { border-top: 1px solid #fff; } }

.common-front-prepare > div { display: table; overflow: hidden; border: 1px solid #dfdfdf; padding: 41px 47px; box-sizing: border-box; max-width: 610px; margin: 0 auto; }
.common-front-prepare > div img { display: table-cell; width: 80px; height: 80px; padding-right: 28px; }
.common-front-prepare > div .text { display: table-cell; width: 100%; table-layout: fixed; vertical-align: middle; }
.common-front-prepare > div .text .heading { display: block; font: bold 21px/37px 'Malgun Gothic'; color: #000000; }
.common-front-prepare > div .text .heading em { color: #ba173f; }
.common-front-prepare > div .text p { font: normal 13px/20px 'Malgun Gothic'; color: #535353; }

/* 610 */
@media screen and (max-width: 737px) { .common-front-prepare { padding-left: 15px; padding-right: 15px; } }
/* 450 */
@media screen and (max-width: 609px) { .common-front-prepare > div { text-align: center; }
  .common-front-prepare > div img { display: block; margin: 0 auto; padding: 0; }
  .common-front-prepare > div .text { display: block; width: 100%; }
  .common-front-prepare > div .text .heading { padding: 24px 0 15px 0; font: bold 17px/20px 'Malgun Gothic'; }
  .common-front-prepare > div .text p { display: block; } }
/* 290 */
@media screen and (max-width: 449px) { .common-front-prepare > div { padding-left: 20px; padding-right: 20px; } }
.common-front-search > div { display: table; margin: 0 auto; }
.common-front-search > div > div { background: #f7f7f7; width: 930px; height: 52px; }
.common-front-search > div > div .input-form > span { display: table-cell; vertical-align: middle; }
.common-front-search > div > div .input-form > span input { width: 100%; }
.common-front-search > div > div .input-form > span button { border: 1px solid black; background: pink; width: 70px; height: 30px; }

/*# sourceMappingURL=common.css.map */
