a { text-decoration: none; }

.common_front_paging1 { width: 100%; font: normal 13px 'Malgun Gothic'; margin-top: 15px; text-align: center; }
.common_front_paging1 div { display: inline-block; }
.common_front_paging1 div > span.left { display: inline-block; border: 1px solid #cfcfcf; border-bottom: 1px solid #9a9a9a; margin-right: 10px; box-sizing: border-box; }
.common_front_paging1 div > span.left > a { display: inline-block; }
.common_front_paging1 div > span.left > a.first { float: left; width: 29px; height: 25px; background: url("../images/icon/icon_first_page.png") no-repeat 50% 50%; border-right: 1px solid #d7d7d7; }
.common_front_paging1 div > span.left > a.prev { float: left; width: 25px; height: 25px; background: url("../images/icon/icon_back.png") no-repeat 50% 50%; }
.common_front_paging1 div > span.right { display: inline-block; border: 1px solid #cfcfcf; border-bottom: 1px solid #9a9a9a; margin-left: 10px; box-sizing: border-box; }
.common_front_paging1 div > span.right > a { display: inline-block; }
.common_front_paging1 div > span.right > a.last { float: left; width: 29px; height: 25px; background: url("../images/icon/icon_last_page.png") no-repeat 50% 50%; }
.common_front_paging1 div > span.right > a.next { float: left; width: 25px; height: 25px; background: url("../images/icon/icon_next.png") no-repeat 50% 50%; border-right: 1px solid #d7d7d7; }
.common_front_paging1 div > ul { border-right: 1px solid #d7d7d7; display: inline-block; }
.common_front_paging1 div > ul > li { display: table-cell; height: 25px; min-width: 25px; border: 1px solid #e0e0e0; border-right: none; line-height: 25px; }
.common_front_paging1 div > ul > li a { display: block; color: #535353; text-decoration: none; }
.common_front_paging1 div > ul > li.on { color: #fff; border-color: #95001f; border-right: 1px solid #95001f; font-weight: bold; background: #a40022; }
.common_front_paging1 div > ul > li.on a { color: #fff; text-decoration: none; }
.common_front_paging1 div > ul > li.total { display: none; }

@media screen and (max-width: 640px) { .common_front_paging1 div > ul { border-right: 0; }
  .common_front_paging1 div > ul > li { display: none; border: none; }
  .common_front_paging1 div > ul > li.on { display: table-cell; min-width: 7px; border-right: 0; background: 0; border: 0; }
  .common_front_paging1 div > ul > li.on a { display: inline-block; color: #a40022; line-height: 15px; }
  .common_front_paging1 div > ul > li.total { display: table-cell; position: relative; }
  .common_front_paging1 div > ul > li.total:before { position: absolute; left: 0; content: '/'; color: #535353; font-weight: normal; } }
.btn-container button { padding: 10px 12px 10px; cursor: pointer; font: bold 13px "Malgun Gothic"; }
.btn-container button.white { background-color: #fff; color: #000; border: 1px solid #bcbcbc; }
.btn-container button.white.icon-pill:before { background: url("../images/icon/btn-white-pill.png") no-repeat 50% 50%; }
.btn-container button.white.icon-arrow-left:before { background: url("../images/icon/btn-white-larrow.png") no-repeat 50%; }
.btn-container button.white.icon-close:before { background: url("../images/icon/btn-white-close.png") no-repeat 50%; }
.btn-container button.white.icon-trash:before { background: url("../images/icon/btn-white-trash.png") no-repeat 50%; }
.btn-container button.white.icon-updown:before { background: url("../images/icon/btn-white-updown.png") no-repeat 50%; }
.btn-container button.white.icon-calendar:before { background: url("../images/icon/btn-white-calendar.png") no-repeat 50%; }
.btn-container button.red { background-color: #a40022; color: #fff; border: 1px solid #500014; }
.btn-container button.red.icon-write:before { background: url("../images//icon/btn-red-write.png") no-repeat 50%; }
.btn-container button.red.icon-plus:before { background: url("../images//icon/btn-red-plus.png") no-repeat 50%; }
.btn-container button.red.icon-play:before { background: url("../images//icon/btn-red-play.png") no-repeat 50%; }
.btn-container button.red.icon-paper:before { background: url("../images//icon/btn-red-paper.png") no-repeat 50%; }
.btn-container button.red.icon-pc:before { background: url("../images//icon/btn-red-pc.png") no-repeat 50%; }
.btn-container button.red.icon-plus2:before { background: url("../images//icon/btn-red-plus2.png") no-repeat 50%; }
.btn-container button.orange { background-color: #f98900; color: #fff; border: 1px solid #ee6f00; }
.btn-container button.green { background-color: #529c1c; color: #fff; border: 1px solid #427d16; }
.btn-container button.brown { background-color: #936c6a; color: #fff; border: 1px solid #7e5c5b; }
.btn-container button.transparent { background-color: #fcfcfc; color: #d6d5d5; border: 1px solid #dadada; }
.btn-container button:before { content: ''; width: 12px; height: 12px; padding: 0 14px; }

@media screen and (max-width: 929px) { .btn-container button { margin-bottom: 10px; } }
@media screen and (max-width: 609px) { .btn-container button { display: block; margin-bottom: 10px; width: 100%; box-sizing: border-box; }
  .btn-container button:before { float: left; } }

/*# sourceMappingURL=common.css.map */
